.totalGame{
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: 'Luckiest Guy', cursive;
}
h1{
	font-size: 3em;
	margin-top: 2em;
}
.inputGame, .showWordResult{
	margin: 2em 0;
}
.wrongGuesses h3{
	text-align: center;
}
.results{
	margin: 2em;
	text-align:center;
}
.win,
.lose {
  display: none;
}

.win h2 {
  color: red;
}

.lose h2 {
  color: white;
  font-size: 2em;
  animation-name: loser;
  animation-duration: 4s;
  animation-iteration-count: infinite;

}




@keyframes loser {
  0%   {background-color: red; opacity: 1;}
  25%  {background-color: yellow; opacity: 1;}
  50%  {background-color: blue; opacity: 1;}
  100% {background-color: green; opacity: 1;}
}
.guess:hover{
	background-color: lightblue;
}

.restart:hover{
	background-color: lightblue;
}

.lives span{
	background-color: black;
	color: white;
	padding: 0.5em 0.9em;
	
	font-size: 2em;
	font-weight: bold;
	border-radius: 50%;
}
.lives{
	margin-top: 2em;
}